:root{

        /* PRIMARY of Heading and Sub-heading */
    --nutmeg-color: hsl(14, 45%, 36%);
    --raspberry-color: hsl(332, 51%, 32%);


        /* NEUTRAL */
    --white-color: hsl(0, 0%, 100%);
    --rosewhite-color: hsl(330, 100%, 98%);
    --eggshell-color: hsl(30, 54%, 90%);
    --lightgrey-color: hsl(30, 18%, 87%);
    --wengebrown-color: hsl(30, 10%, 34%);
    --darkcharcoal-color: hsl(24, 5%, 18%);


        /* Font Family */
    --heading-font: 'Young Serif', serif;
    --paragraph-font: 'Outfit', sans-serif;

    


    /* UL elements Padding*/
   /* 40px */
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red ;
    font-family: var(--paragraph-font);
}

/* Base style */

h1, h2{
    font-family: Young Serif, Serif;
    font-weight: lighter;
}

p{
    font-size: 16px;
    font-family: var(--paragraph-font);
}

.heading{
    color: var(--nutmeg-color);
}

/* End of Base style */

main{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: auto;
    margin: 15% auto;
    border-radius: 20px;
}

.img_container{
    margin: 0 auto;
    padding: 35px 0 35px 0;

}

.img_container img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
    display: block;
    margin: auto;
}

/* 
.receipe_heading{
    margin-left: 35px;
    margin-right: 35px;
} */

#main_heading{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    
}

.prep_time{
    margin-top: 7%;
    margin-bottom: 7%;
}

.prep_time_heading{
    padding-inline: 3% 3%;
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--raspberry-color);
}

.prep_total_time{
    padding-inline: 7% 7%;
}

.prep_total_time li, .ingredients_content li{
    padding: 6px;
    padding-left: 15px;
}

.prep_total_time span, .instructions_content span{
    font-weight: 600;
    color: var(--darkcharcoal-color);
}

.preperations{
    margin: 0 35px 0 35px;
}

.ingredients{
    margin-bottom: 4%;
}

.ingredients_heading, .instructions_heading{
    padding-bottom: 10px;
    
}

.ingredients_content, .instructions_content{
    padding-inline: 4% 4%;
}

.instructions{
    border-top: 1px solid var(--lightgrey-color);
    margin: 0 35px 0 35px
}

.instructions_content li{
    padding: 5px 0 5px 0;
}

.instructions_heading{
    margin-top: 25px;
}

.instructions_content{
    border-bottom: 1px solid var(--lightgrey-color);
    padding-bottom: 25px;
}

.nutrition_heading{
    margin: 15px 0 15px 0;
}

.nutrition_table{
    padding-inline: 5% 5%;
}


tbody th{
    text-align: left;
    font-weight: normal;
}

tbody td{
    font-weight: bold;
}

th, td{
    border-bottom: 1px solid red;
}







.attribution{
    display: none;
}