:root{

        /* PRIMARY of Heading and Sub-heading */
    --nutmeg-color: hsl(14, 45%, 36%);
    --raspberry-color: hsl(332, 51%, 32%);


        /* NEUTRAL */
    --white-color: hsl(0, 0%, 100%);
    --rosewhite-color: hsl(330, 100%, 98%);
    --eggshell-color: hsl(30, 54%, 90%);
    --lightgrey-color: hsl(30, 18%, 87%);
    --wengebrown-color: hsl(30, 10%, 34%);
    --darkcharcoal-color: hsl(24, 5%, 18%);


        /* Font Family */
    --heading-font: 'Young Serif', serif;
    --paragraph-font: 'Outfit', sans-serif;

    


    /* UL elements Padding*/
   /* 40px */
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--rosewhite-color) ;
    font-family: var(--paragraph-font);
}


h1, h2{
    font-family: Young Serif, Serif;
    font-weight: lighter;
}

p{
    font-size: 16px;
    font-family: var(--paragraph-font);
}

main{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 20px;
}

.img_container{
    margin: 0 auto;
    padding: 35px;

}

.img_container img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
    display: block;
    margin: auto;
}


.receipe_heading{
    margin-left: 35px;
    margin-right: 35px;
}

#main_heading{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    
}

.prep_time{
    margin-top: 7%;
    margin-bottom: 7%;
}

.prep_time_heading{
    padding-inline: 7% 7%;
    font-size: 20px;
    margin-bottom: 5px;
}

.prep_total_time{
    padding-inline: 10% 10%;
}

.prep_total_time li, .ingredients_content li{
    padding: 6px;
    padding-left: 15px;
}

.prep_total_time li span{
    font-weight: 600;
    color: var(--darkcharcoal-color);
}

.ingredients_heading{
    margin-bottom: 10px;
    margin-left: 35px;
}

.ingredients_content{
    padding-inline: 8% 8%;
}



tbody th{
    text-align: left;
    font-weight: normal;
}

tbody td{
    font-weight: bold;
}




.heading{
    color: var(--nutmeg-color);
}

.prep_time_heading{
    color: var(--raspberry-color);
}

.attribution{
    display: none;
}